[Desktop Entry]
Name=Task Manager
Comment=Your Flutter desktop app
Exec=/usr/local/bin/task_manager
Icon=/usr/local/bin/data/flutter_assets/icon.png
Terminal=false
Type=Application
Categories=Utility;
